<h1>welcome to honk{{#if user}}, {{user.name}}{{/if}}.</h1>
<p>enjoy your stay.</p>
<p>music links:</p>
<a href="https://soundcloud.com/coalworks_asylum">soundcloud</a>
<br>
<a href="https://www.last.fm/user/coalwork">last.fm</a>
<br>
<a href="https://open.spotify.com/user/wzxazrwpjtd2rolvjofcryytr">spotify (i don't post music here)</a>
